<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>微博发布效果</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <form action="/leaveMessage" method="" id="wbform">
        <div class="weibo">
            <input type="hidden" id='time' name="time">
            <div id='nameWrap'>
                <input type="text" name="name" id='name' placeholder="名字...">
                <label for="name">请输入用户名</label>
            </div>
            <textarea class="weibo-text" placeholder="评论内容..." name="message"></textarea>
            <input class="weibo-btn" value="发布" type="button">
        </div>
    </form>
</body>
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/regForm.js"></script>
<script src="../assets/js/index.js"></script>
</html>